body {
  max-width: 50em;
  min-height: 100vh;
  margin: 0 auto;
  font-family: Georgia, sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  background-color: #242424;
  color: #fff;
  /* color: #999; */
  display: flex;
  flex-direction: column;
}
h1, h2, h3 {
  font-family: sans-serif;
  font-weight: normal;
}

h1 {
  color: #00ff00;
}

.page {
  background-color: #000;
}

.header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 2em;
  border-bottom: 3px solid #570080;
}

.header-logo {
  margin: 0;
  padding: 0;
}

.header-right {
  margin: 0;
  padding: 0;
  align-items: baseline;
}

.logo-style {
  width: 30%;
  align-items: baseline;
  height: auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: #999;
  border: 1px solid #999;
  background-image: linear-gradient(to bottom right, #001b92, #570080);
  padding: 0.1em 0.3em;
}

.navbar a:hover {
  background-image: linear-gradient(to bottom right, #570080, #001b92);
}

.content {
  padding: 16px;
}

.footer {
  text-align: center;
  margin-top: auto;
  padding: 8px;
  border-top: 2px solid #570080;
}

.footer a {
  color: #999;
  text-underline-offset: 3px;
}